# Ignore the directory contents, so we don't commit the database
redmine-mariadb/mariadb/*
# But keep the .gitkeep file, effectively keeping the directory
!redmine-mariadb/mariadb/.gitkeep

redmine-mariadb/redmine/*
!redmine-mariadb/redmine/.gitkeep
