# Ignore the directory contents, so we don't commit the containers data
# But keep the .gitkeep file, effectively keeping the directory
mariadb/*
!mariadb/.gitkeep

redmine/*
!redmine/.gitkeep

owncloud/*
!owncloud/.gitkeep

wordpress/*
!wordpress/.gitkeep
